%p#notice= notice

%h1=@episode.story.title
%h2 Episode #{@episode.index}

=Markdown.render(@episode.content).html_safe

= link_to 'Edit', edit_episode_path(@episode)
\|
= link_to 'Back', episodes_path
